.feedback {
  z-index: 100;
  transform: translateX(120%);
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  position: fixed;

  &--active {
    transform: translateX(0%);
    position: absolute;
  }
}