.repair-viev {
  padding-bottom: 30px;
  border-bottom: 1px solid #D9FFF5;

  @media (min-width: 1366px) {
padding-bottom: 50px;
  }
}

.repair-viev__title-wrapper {
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  padding: 16px 16px 16px 0;
}

.repair-viev__container {
  padding-top: 16px;
}

.repair-viev__content {
  min-height: 207px;

}

.repair-viev__list  {
  padding: 23px 16px 16px 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 152px;
    gap: 20px 24px;
    overflow: hidden;
  }

  @media (min-width: 1366px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &--visible-item {
    height: auto;
  }
}

.repair-viev__item {
  width: 205px;
  height: 125px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  position: relative;
  overflow: hidden;

  &:hover {
    .repair-viev__img {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  @media (min-width: 768px) {
    width: auto;
  }
}

.repair-viev__img {
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: transform .9s ease-in-out, opacity .9s ease-in-out;
}

.repair-viev__item-title {
  font-size: 16px;
font-weight: 500;
}

.repair-viev__btn {
  padding: 16px;
}

.repair-viev__show-all {
  font-family: "TTlakes", sans-serif;
  font-weight: 500;
  position: relative;
  display: none;
  font-size: 16px;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 8px;
    width: 8px;
    height: 11px;
    background-image: url(.././img/services/arrow-bottom.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .3s ease-in-out;
  }

    &--active {
      &::before {
        transform: rotate(180deg);
        top: 30%;
      }
}

@media (min-width: 768px) {
    display: block;
    padding-left: 30px;
}
}