$bgColor: #F8F8F8;
$text: #1B1C21;
$jumbo: #7E7E82;
$white: #fff;
$radical-red: #FF3E79;


@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/modules/pagination/pagination.scss';
@import 'components/_swiper.scss';
@import 'components/_burger.scss';
@import 'components/_btn-arrow.scss';
@import 'components/_btn-action.scss';

@import 'reset.scss';
@import 'components/_header.scss';
@import 'components/_sidebar.scss';
@import 'components/_feedback.scss';
@import 'components/_callback.scss';
@import 'components/_form-popup.scss';
@import 'components/_services.scss';
@import 'components/_repair-menu.scss';
@import 'components/_repair-viev.scss';
@import 'components/_prices.scss';
@import 'components/_footer.scss';

@font-face {
  font-family: "TTlakes";
  font-style: normal;
  font-weight: 700;
  src: local("TTlakes"),
  url(../fonts/TTLakes-Bold.woff2) format("woff2"),
  url(../fonts/TTLakes-Bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "TTlakes";
  font-style: normal;
  font-weight: 500;
  src: local("TTlakes"),
  url(../fonts/TTLakes-Medium.woff2) format("woff2"),
  url(../fonts/TTLakes-Medium.woff) format("woff");
  font-display: swap;

}

@font-face {
  font-family: "TTlakes";
  font-style: normal;
  font-weight: 400;
  src: local("TTlakes"),
  url(.././fonts/TTLakes-Regular.woff2) format("woff2"),
  url(.././fonts/TTLakes-Regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "TTlakes";
  font-style: normal;
  font-weight: 300;
  src: local("TTlakes"),
  url(../fonts/TTLakes-Light.woff2) format("woff2"),
  url(../fonts/TTLakes-Light.woff) format("woff");
  font-display: swap;
}

html, body {
  height: 100%;
  font-family: "TTlakes", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text;
  background-color: $bgColor;
  letter-spacing: -0.2px;
}

body {
  @media (min-width: 1366px) {
    margin: 0 auto;
    max-width: 1480px;
    position: relative;
  }
}

h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: $jumbo;
  }

.container {
  min-width: 288px;
  padding:0 16px;
  margin: 0 auto;

  @media (min-width: 768px) {
      padding:0 24px;
  }

  @media (min-width: 1366px) {
      max-width: 1276px;
      padding:0 45px;
  }
}

.wrapper {
  position: relative;

  @media (min-width: 1366px) {
padding-left: 320px;
  }
}

.page__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s ease-in-out, z-index .5s ease-in-out;

  &--active {
    z-index: 40;
    opacity: 0.96;

    @media (min-width: 1366px) {
      z-index: 100;
    }
  }
}
